.idea/*
content/themes/singlepage/node_modules/
content/themes/singlepage/js/vendor/
content/themes/singlepage/.sass-cache/
content/themes/singlepage/js/optimized.min.js
content/themes/singlepage/css/global.css
content/themes/singlepage/css/global.css.map
content/uploads/
