.idea/*
*.old.css
content/themes/singlepage-pro/node_modules/
content/themes/singlepage-pro/js/vendor/
content/themes/singlepage-pro/.sass-cache/
content/themes/singlepage-pro/js/optimized.min.js
content/themes/singlepage-pro/css/global.css
content/themes/singlepage-pro/css/global.css.map
content/uploads/
