
.add-to-cart, .add-to-cart:hover, .add-to-wishlist, .add-to-wishlist:hover {
  @extend .btn;
  @extend .btn-link;
  color: black;
  text-decoration: none;
  font-size: 30px;
}


.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}
