
/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}

.search-facet-tabs {
  
  .nav-tabs {
    
    border: 0;
    margin-bottom: 30px;
    
    > li {
      
      float: none;
      
      a {
        text-transform: uppercase;
        border: 0;
        color: $gray;
        font-weight: 700;
        padding: 5px 0 5px 50px;
        
        &:hover {
          background-color: white;
          border: 0;
        }
        
      }
      
      &.active a {
        color: black;
        border: 0;
        
        &:before {
          @extend .glyphicon;
          @extend .glyphicon-play;
          
          width: 30px;
          margin-left: -30px;
        }
        
      }
      
    }
    
  }
  
}

treecontrol {
  font-family: $font-family-serif !important;
}

.facet {
  margin-bottom: 25px;
  
  h5 {
    color: black;
    font-weight: 700;
    margin: 0 0 12px;
    padding: 0 0 8px 25px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    cursor: pointer;
    
    &:before {
      @extend .glyphicon;
      @extend .glyphicon-triangle-right;
      
      width: 25px;
      margin-left: -25px;
    }
    
  }
  
  &.open h5:before {
    @extend .glyphicon-triangle-bottom;

  }
  
}

.facet ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.facet li {
    margin-bottom: 3px;
}
.facet-link {
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
    max-width: 65%;
    display: inline-block;
}
.facet-link:hover, .facet-link.facet-refined {
    color: $brand-primary;
}
.facet .facet-link.facet-refined:hover {
    text-decoration: line-through;
    color: $brand-primary;
}
.facet-count {
    position: relative;
    top: 3px;
    float: right;
    color: #999;
}
/* Checkboxes */
.facet-disjunctive {
    font-weight: normal;
    position: relative;
}
.facet-disjunctive:hover:before {
    background-position: -24px 0;
}
.facet-disjunctive.facet-refined:before {
    background-position: -48px 0;
}
.facet-disjunctive.facet-refined:hover:before {
    background-position: -72px 0;
}
.facet treecontrol > ul > li {
  padding: 0;
}

.slide{
  overflow: hidden;
}

.slide.ng-hide-add{
  animation:0.5s slideIn ease;
}
.slide.ng-hide-remove{
  animation:0.5s slideOut ease;
}

@keyframes slideOut {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 500px;
  }
}

@keyframes slideIn {
  0% {
    max-height: 500px;
  }

  100% {
    max-height: 0;
  }
}

treecontrol li .tree-label .facet-lable-over span {
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.facet-lable-over > span {
  display: inline-block;
  max-width: 160px;
  text-overflow: ellipsis;
}