$search-input-height: 70px;
$search-input-font-size: 20px;
$search-input-background: $search-grey;

.search-main-container {
  margin: 0 $outer-padding;
}

.search-tabs > .nav-tabs {
  
  border-bottom: 2px solid $brand-primary;
  
  > li.active > a, > li.active > a:hover {
    
    color: white;
    border-color: $brand-primary;
    background-color: $brand-primary;
    
  }
  
  > li > a {
    color: #777777;
  }
  
  > li > a:hover {
    color: $brand-primary;
    border-color: $brand-primary;
    background-color: transparent;
  }
  
  > li.disabled > a:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
  }
  
}

.search-container {
  
  @include make-sm-column(12);
  
  #search-input, select {
    display: inline-block;
    height: $search-input-height;
    background-color: $search-input-background;
    border: 1px solid #CCC;
    font-size: $search-input-font-size;
    text-align: left;
    padding-left: 15px;
    
    &, &:focus {
      outline: 0;
      box-shadow: none;
    }
    
  }
  
  #search-input {
    width: 100%;
  }
  
  i {
    $search-input-icon-font-size: $search-input-font-size + 4px;
    font-size: $search-input-icon-font-size;
    padding-top: ( $search-input-height - $search-input-icon-font-size ) / 2;
    padding-left: 50px;
  }
  
}

.search-result-count {
  @include make-sm-column(4);
  padding-top: 10px;
  font-weight: 700;
}

.search-celltype {
  
  @include make-sm-column(8);
  font-size: 24px;
  text-align: right;
  
  .btn.btn-link {
    
    color: $gray;
    
    &.active {
      color: $brand-primary;
    }
    
  }
  
}

/* HITS
// ------------------------- */

$hit-padding: 10px;

.hits {
  @include make-row();
}

div.hit-cell {
  padding-top: $hit-padding;
  padding-bottom: $hit-padding;
}

.hit-cell-sm {
  @include make-sm-column(3);
  
  height: 300px;
  
  .hit-btn, .hit-btn:hover {
    width: 100%;
    height: 100%;
    background-color: $search-grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #CCC;
  }
}

.hit-btn-overlay-container {
  
  .hit-btn-overlay {
    display: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    padding: 140px 20px 0 20px;
    white-space: normal;

  }
  
  &:hover {
    text-decoration: none !important;
  }
  
  &:hover .hit-btn-overlay, .hit-btn-overlay:hover {
    display: block;
  }
  
}

.hit-img-container {
  background-color: black;
  margin-bottom: 5px;

  a, a:visited, a:hover {
    color: white !important;
  }
}

.hit-img {
  height: 400px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.hit-cell-lg {
  @include make-sm-column(6);
  
  overflow: hidden;
  
  .hit-btn, .hit-btn:hover {
    float: left;
    width: 175px;
    height: auto;
    margin-right: 10px;
  }

  .hit-img {
    display: block;
    width: 175px;
    float: left;
  }

  .hit-text-head {
    padding-top: 0;

    span {
      text-overflow: ellipsis;
    }

  }

  .hit-text-body {
    width: 100%;
    font-size: 14px;
  }

}

.hit-cell-rectangle {
  clear: both;
  position: relative;

  &:after {
    background: black;
    position: absolute;
    bottom: 0;
    left: 1%;
    height: 1px;
    width: 96%;
    content: '';
  }

  span.property {
    display: block;
  }

  .hit-btn, .hit-btn:hover {
    @extend .btn;
    @extend .btn-link;
    @extend .btn-block;

    float: left;
    display: inline-block;
    width: 225px;
    height: auto;
    padding-top: 0;
  }
  
  .hit-img {
    display: inline-block;
    margin: 0;
    height: 400px;
    width: auto;
    padding-top: 0;
  }
  
  .hit-text-full {
    padding-left: $hit-padding;
    padding-bottom: $hit-padding;
    float: left;
    width: 65%;
  }

  .hit-text-body {
    font-size: 14px;
    padding-left: 10px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    clear: both;


  }
  
  .hit-wishlist { 
    display: inline-block;
    vertical-align: top;
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 5px;
    
    .add-to-wishlist {
      padding: 0;
    }
  }
  
}

$hit-image-height: 100px;

.hit-btn, .hit-btn:hover {
  @extend .btn;
  @extend .btn-link;
  @extend .btn-block;
  
  border: 0;
  height: $hit-image-height;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
}

.search-pagination {
  
  @include make-sm-column(12);
  text-align: right;
  font-size: 13px;
  
  .disabled {
    display: none;
  }
  
  .pagination {
    
    & > li > a, & > li > a:hover {
      color: black;
      padding: 5px 10px;
      border: 0;
      background-color: white;
    }
    
    & > .active > a, & > .active > a:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;
    }
    
  }
  
}

/* FOOTER
// ------------------------- */

footer {
    font-size: 14px;
    margin-top: 200px;
    margin-bottom: 24px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: $brand-primary;
}
footer a:hover {
    text-decoration: underline;
    color: $brand-primary;
}

/* $screen-md-min ist eine Bootstrap variable, ich weiß nicht wie man die überschreibt */

$screen-md-min: 70%;

@media (min-width: $screen-md-min) {
  /*.modal-search { width: $screen-md-min; }*/
  .modal-search { width:70%; }
}

.highlighted {
  background-color: $brand-primary;
  color: #FFFFFF;
  padding: 2px 4px;
}

.selectedFacets {
  position: fixed;
  top: 80%;
  left: 0;
  background-color: $brand-primary;
  font-size: 13px;
  padding: 15px 10px;
  z-index: 100;
  max-width: 250px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2), 4px 6px 8px 4px rgba(0, 0, 0, 0.1);
  
  .selectedFacetsCaption {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .selectedFacetTitle {
    color: $gray;
    font-weight: 700;
  }
  
  .selectedFacetValue {
    color: white;
  }
  
  .remove-facet-value, .remove-facet-value:hover {
    @extend .close;
    color: white;
    float: none;
    opacity: 0.9;
    font-size: 14px;
  }
  
}

.btn-quelle {
  /*
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  */
  font-size: 12px;
  padding: 1px 5px 1px 5px;
  border-radius: 0;
  text-align: left;
}

a .help-link, a .help-link:hover {
  font-size: 11px;
  color: $gray;
  text-decoration: none;
}

