
$icon-font-path: '/content/themes/singlepage-pro/js/vendor/bootstrap-sass/assets/fonts/bootstrap/';

$brand-primary: rgb(21, 36, 49);

$gray: #888B8D;

$search-grey: #F9F7F7;

$navbar-height: 85px;

$navbar-default-bg: white;

$navbar-default-color: $brand-primary;

$navbar-default-link-color: $brand-primary;

$navbar-default-link-hover-color: $brand-primary;

$headings-color: $brand-primary;

$font-size-base: 16px;

$light-blue-background-color: #D8E6EE;

$input-border-radius: 0;

$panel-default-heading-bg: $light-blue-background-color;

$panel-border-radius: 0;

$vertical-spacing: 30px;

$font-family-sans-serif: 'Arimo', sans-serif;

$font-family-serif: 'Arimo', sans-serif;

/*
$screen-md: 70%;

$screen-md-min: $screen-md;
*/