
.cart_totals {
  
  .cart-totals-value {
    @include price();
  }
  
  & > tbody > tr {
    & > th, & > td {
      padding: 0px;
    }
  }
  
}

.cart-subtotal, .order-total {
  font-weight: bold;
}

.shipping .cart-totals-heading {
  font-weight: normal;
}

.checkout-button {
  @extend .active;
}

.back-to-shop, .checkout-button {
  
  margin-top: 15px;
  
}
