
.woocommerce-error {
  @extend .alert, .alert-danger, .col-sm-10;
  padding-left: 30px;
}

#customer_details .clearfix{
  @extend .hidden-xs;
}

.checkout-heading, .checkout-form{
   text-align: left;
 }

#checkout-heading-group{
  margin-top: 50px;

}

.checkout-form {
  margin-left: 0% !important;
}



$input-width: 220px;

.form-row {
  
  @include make-sm-column(6);
  
  height: 40px;
  margin-top: 12px;
  /*text-align: right;*/
  padding-left: 0px;
  
  
  @media (max-width: $screen-sm-min) {
    text-align: left;
    margin-bottom: 28px;
  }
  
  label {
    
    @media (max-width: $screen-sm-min) {
      margin-bottom: 2px;
    }
    
    abbr {
      border-bottom: none;
      text-decoration: none;
      padding-right: 5px;
    }
  }
  
  input, select, textarea {
    width: $input-width;
  }
  
  select {
    height: 30px;
  }
  
  .select2-container {
    float: right;
    width: $input-width !important;
    
    @media (max-width: $screen-sm-min) {
      width: 100% !important;
    }
    
    .select2-choice {
      border-radius: 0;
      height: 36px;
      padding-top: 6px;
    }
    
  }
}

.billing-container, .shipping-container {
  
  @include make-sm-column-offset(1);
  @include make-sm-column(9);
  
}

#ship-to-different-address {
  
  text-align: center;
  
  @media (max-width: $screen-sm-min) {
    padding: 0 20px;
    margin-bottom: 0;
  }
  
  label {
    display: inline-block;
  }
  
}

.border-bottom {
  border-bottom: 1px solid #CCC;
}

