input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

label.check {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('../images/checks.png') no-repeat 0 0;
  line-height: 24px;
}

label.check-exclude {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('../images/checkbox.png') no-repeat 0 0;
  line-height: 24px;
  background-position : 0 -72px;

}

.facet-checkbox input {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('../images/checks.png') no-repeat 0 0;
  line-height: 24px;
}

.facet-checkbox input {
  background-position : 0 -48px;
}


input.facet-checkbox[type=checkbox],
input.facet-checkbox[type=radio] {
  display: inline-block;
  /*margin-left: -28px;*/
  padding-left: 28px;
  background: url('../images/checks.png') no-repeat 0 0;
  line-height: 24px;
}

.facet-line {
  line-height: 24px;
  white-space: nowrap;
}
.facet-lable {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  max-width: 65%;
  display: inline-block;
  margin-left: 28px;
}

input.check-antepost {
  margin-left: 28px;
}

.facet-check-antepost {
  margin-left: 28px;
}

.facet-lable-input {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  max-width: 65%;
  display: inline-block;
  margin: 0 0 6px 0px;
}