

h1, h2, h3, .subtitle {
  text-align: center;
  margin-bottom: $vertical-spacing !important;
  font-weight: bold;
}

.verical-spacing {
  @media (min-width: $screen-lg-min) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

h3, .subtitle {
  font-weight: normal;
}

.subtitle {
  @extend .hidden-xs;
  font-size: 38px;
  color: $brand-primary;
  margin-top: -20px;
}

.simplecontent {
  color: $brand-primary;
}

.simplecontent-component {
  margin-top: 31px;
  margin-bottom: 10px;
}

.one-column-content {
  @extend .simplecontent;
}

.two-column-content {
  @extend .one-column-content;
  
  @media (min-width: $screen-md-min) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    $column-gap: 36px;
    -webkit-column-gap: $column-gap; /* Chrome, Safari, Opera */
    -moz-column-gap: $column-gap; /* Firefox */
    column-gap: $column-gap;
  }
}

.post-loop-block {
  margin-bottom: 15px;
  padding-bottom: 5px;
}
